# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
db.sqlite3

# Environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
myvenv/
# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Test files
coverage/
nosetests.xml
*.cover
*.log
*.pot

# Others
*.bak
*.swp
*~
*.orig
*.tmp

# Ignore the local settings
settings_local.py

# Excel files if you are uploading
*.xlsx
